<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>登録画面</title>
  </head>

  <body>
    <h1>顧客情報登録</h1>

    <a href="user_list.html" th:href="@{user_list}">一覧画面に遷移</a>

    <form method="post" action="user_list.html" th:action="@{insertComplete}">
      <table>
        <tr>
          <th>ID</th>
          <td>自動採番</td>
        </tr>
        <tr>
          <th>名前</th>
          <td><input type="text" name="name" /></td>
        </tr>
        <tr>
          <th>誕生日</th>
          <td><input type="text" name="birth" /></td>
        </tr>
      </table>
      <button>登録する</button>
    </form>
  </body>
</html>
