<!DOCTYPE html>
<html>

<head>
  <html xmlns:th="https://www.thymeleaf.org">

	<meta charset="UTF8">
	<title>管理者権限：ユーザ一覧</title>
	<link rel="stylesheet" href="/css/admin/user_list.css">
	<link rel="stylesheet" href="/css/common/reset.css">
</head>

<body>

	<a href="regist.html" th:href="@{regist}">社員情報の挿入を行う画面に遷移</a>

	<header class="header">
		<button class="header_icon">
			<img src="/img/icon_menu_.png"></img>
		</button>
    <p id="text" th:text="${id}"></p>
		<button class="header_icon">
			<img src="/img/icon_home_.png"></img>
		</button>
	</header>
	<main class="main">
		<h1 class="title">ユーザ一覧</h1>
		<ul id="scroll">
      <li class="popup_btn" th:each="user:${userList}">
        <p th:text="'No.' + ${user.index}"></p>
        <p th:text="${user.name}"></p>
        <p th:text="${user.birth} + '生'"></p>		
		<div class="popup" id="popup">
			<div class="popup_overlay"> </div>
			<div class="popup_body">
				<div class="popup_personal">
				<p th:text="'No.' + ${user.index}"></p>
        <p th:text="${user.name}"></p>
        <p th:text="${user.birth} + '生'"></p>
				</div>
				<div class="popup_buttons">
					<a href="#">アカウント情報変更</a>
					<button>ログイン</button>
				</div>
			</div>
		</div>
	</li>
</ul>
        <!--管理者の場合表示-->
        <div th:if="${admin}">
          <p>管理者です</p>
        </div>
        <!--出品者の場合表示-->
        <div th:if="${seller}">
          <p>出品者です</p>
        </div>
        <!--購入者の場合表示-->
        <div th:if="${buyer}">
          <p>購入者です</p>
        </div>
	</main>
	<script type="module" src="/js/admin/user_list.js"></script>
</body>

</html>
</main>
</body>

</html>