@charset "UTF-8";

.header {
  display: flex;
  background-color: #e70f0f;
  justify-content: space-between;
  align-items: center;
}

.header p {
  font-size: 20px;
}

.header_icon {
  margin: 5px 20px;
}

.title {
  margin: 20px;
}

.main {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0;
  gap: 27px;
}

.main ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 21px 38px;

  background-color: #efefef;
  border-radius: 20px;
  width: 670px;
  height: 90px;
  gap: 115px;
}

.main ul li p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

/* オーバーレイの位置を指定。*/
.popup {
  position: absolute;
  top: 50px;
  left: 0;
  display: none;
}

/*画面上どこを押してもモーダルが閉じれるように設定*/
.popup_overlay {
  width: 100vw;
  height: 100vh;
}

.popup_body {
  /* 位置*/
  position: absolute;
  top: 10px;
  right: 40px;
  z-index: 10;
  padding: 36px 59px;

  /*サイズ*/
  width: 300px;
  height: 400px;

  /* 装飾 */
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);

  /* 子要素の設定 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.popup_personal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 20px;
}

.popup_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 13px;
}

.popup_buttons a {
  padding: 8px 19px;
  width: 182px;
  height: 35px;

  background: #d9d9d9;
  border-radius: 20px;
  text-align: center;

  /* aタグリセット*/
  color: inherit;
  text-decoration: none;
}

.popup_buttons button {
  padding: 8px 19px;
  width: 182px;
  height: 35px;

  background: #d9d9d9;
  border-radius: 20px;
  text-align: center;
}
